/*
 * Device tree overlay for mcp2517fd/can0 on spi0.0
 */

/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

    /* disable spi-dev for spi0 and spi1 */
    fragment@0 {
	target = <&spidev0>;
	__overlay__ {
            status = "disabled";
	};
    };
 
    fragment@1 {
        target = <&spidev1>;
        __overlay__ {
            status = "disabled";
        };
    };

    /* MCP2517FD INT pins */
    fragment@2 {
        target = <&gpio>;
        __overlay__ {

            mcp2517fd_int_pins: mcp2517fd_int_pins {
                brcm,pins = <18 2 13 6>;
                brcm,function = <0>; /* input */
            };

	    spi1_pins: spi1_pins {
		brcm,pins = <17 19 20 21>;
		brcm,function = <3>; // alt 4
	    };

	    spi1_cs_pins: spi1_cs_pins {
		brcm,pins = <24>; 
		brcm,function = <1>; // output
  	    };

        };
    };

    /* dedicated MCP2517FD clock @20MHz */
    fragment@3 {
        target-path = "/clocks";
        __overlay__ {
            mcp2517fd_osc: mcp2517fd_osc {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency  = <20000000>;
            };
        };
    };

    /* CAN0: SPI0 CE1, INT pin on GPIO18 */
    /* CAN1: SPI0 CE0, INT pin on GPIO2 */
    fragment@4 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            can0: can@0 {
		compatible = "microchip,mcp2517fd";
		reg = <1>;
                clocks = <&mcp2517fd_osc>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio>;
		interrupts = <18 0x8>;
            };
            can1: can@1 {
		compatible = "microchip,mcp2517fd";
		reg = <0>;
                clocks = <&mcp2517fd_osc>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio>;
		interrupts = <2 0x8>;
            };
        };
    };

    /* CAN2: SPI1 CE0, INT pin on GPIO13 */
    /* CAN3: SPI1 CE1, INT pin on GPIO6 */
    fragment@5 {
        target = <&spi1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            pinctrl-names = "default";
            pinctrl-0 = <&spi1_pins &spi1_cs_pins>;
            cs-gpios = <&gpio 24 1>, <&gpio 17 1>;
            status = "okay";

            can2: can@2 {
		compatible = "microchip,mcp2517fd";
		reg = <0>;
                clocks = <&mcp2517fd_osc>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio>;
		interrupts = <13 0x8>;
            };

            can3: can@3 {
		compatible = "microchip,mcp2517fd";
		reg = <1>;
                clocks = <&mcp2517fd_osc>;
		spi-max-frequency = <10000000>;
		interrupt-parent = <&gpio>;
		interrupts = <6 0x8>;
            };
        };
    };


};
